@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<!-- div som omsluter innehåll, rubriker en bild och skriver ut från js-fil -->
<div>
    <h1>Startsida</h1>
    <h2>En startsida med valfritt innehåll</h2>

    <img id="image" src="https://t4.ftcdn.net/jpg/02/58/91/61/360_F_258916151_PXS474j3mi8OTr4FUM4oqv3oW5RMLtYa.jpg" alt="Hund">


    <div id="js"></div>
</div>
