@page
@model Ommig.Pages.OmModel
@{
    ViewData["Title"] = "Om mig";
}

<!-- div med rebrik och paragraf -->
<div>
    <h1>Om mig</h1>
    <p>Jag heter Anna Kristensen, är 37 år och bor i Halmstad med min son och vår hund.</p>
</div>